PORT=3333
NODE_ENV=development

# Origens permitidas no CORS (separadas por vírgula)
CORS_ORIGIN=http://10.21.1.51:3000,http://localhost:3000,http://127.0.0.1:3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=frik

JWT_SECRET=troque_por_um_segredo_forte_em_producao
JWT_EXPIRES_IN=7d

TAXA_TROCA_PONTOS=50
PONTOS_POR_REAL=10
